<h1>Просмотр запроса</h1>

<p>
  <strong>Название:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @request.description %>
</p>

<%= link_to 'Назад', collection_requests_path(collection_id: params[:collection_id], folder_id: params[:folder_id]) %>