// Place all the styles related to the Navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  //min-height: auto;
  height: 95vh;
  //max-height: auto;
}

.sidebar-search {
  margin-top: 25px;
}

ul.list-unstyled.components {
  //overflow-y: scroll;
  scrollbar-3dlight-color: #7386D5;
  scrollbar-arrow-color: #7386D5;
  scrollbar-track-color: #7386D5;
  scrollbar-base-color: #7386D5;
  scrollbar-face-color: #7386D5;
  scrollbar-shadow-color: #7386D5;
  scrollbar-highlight-color: #7386D5;
  scrollbar-darkshadow-color: #7386D5;
  &::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  overflow-y: scroll;
  height: 75vh;
  //max-height: min-content;
}

#sidebar a,
#sidebar a:hover,
#sidebar.sidenav:hover,
#sidebar.sidenav:focus,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul div.sidenav:hover {
  color: #7386D5;
  background: #fff;
  .sidebar-icon-edit {
    i {
      display: inline;
    }
  }
}

ul.show:hover {
  //color: #7386D5;
  //background: #fff;
}

div.sidenav-two.open {
  i.fa.fa-folder.sidebar-icon {
    display: none;
  }

  i.fa.fa-folder-open.sidebar-icon {
    display: inline;
  }
}

div.sidenav-two {
  i.fa.fa-folder.sidebar-icon {
    display: inline;
  }

  i.fa.fa-folder-open.sidebar-icon {
    display: none;
  }
}

i.fa.fa-ellipsis-h.sidebar-icon-edit > ul.dropdown-menu.dropdown-custom.show::before {
  display: none;
}

i.fa.fa-chevron-circle-up {
  display: inline;
}

div.sidenav {
  i.fa.fa-chevron-circle-down {
    display: inline;
  }

  i.fa.fa-chevron-circle-up {
    display: none;
  }
}

#sidebar ul li.active > a {
  color: #fff;
  background: #6d7fcc;
}

//#sidebar div.sidenav > ul.show,
//div.sidenav[aria-expanded="false"]> ul.show
//{
//  color: #fff;
//  background: #6d7fcc;
//}

a[data-toggle="collapse"], .sidenav:hover {
  //position: relative;
  //ontent: '\e259';
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  //content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  //content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  //background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 90vh;
  transition: all 0.3s;
  max-height: 90vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
}

#content p a {
  //color:
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.custom-search-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.sidebar-main-element {
  font-size: 20px;
  //display: block;
  //margin-left: auto;
  //margin-right: auto
  float: right;
  margin-top: 9px;
}

.sidebar-icon {
  margin-right: 10px;
}

.menu-spaceman {
  display: inline;
}

//.menu-spaceman-element {
//  a {
//    display: flex;
//  }
//}

#navbar {
  .navbar-default-space {
    background-color: #6d7fcc;
    border: 3px #47748b;
    margin-bottom: auto;
  }
  h3, a {
    color: #fff;
  }
}

.dropdown-btn, .sidenav > a.side-link[data-toggle="collapse"] {
  //  padding: 6px 8px 6px 16px;
  //  text-decoration: none;
  //  font-size: 20px;
  //  //color: #818181;
  //  display: block;
  //  border: none;
  //  background: none;
  width: 12%;
  text-align: left;
  //  cursor: pointer;
  //  outline: none;
}

//a[data-toggle="collapse"]{

.sidenav {
  //height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  ////background-color: #111;
  overflow-x: hidden;
  padding-top: auto;
  display: inline-flex;
}

.sidebar-icon-edit {
  margin: auto auto auto auto;
  //padding-right: 10px;
  i {
    display: none;
  }
}

.sidebar-icon-edit, .sidebar-icon-edit-child {
  margin: auto 20px auto auto;
}

i.sidebar-icon-edit {
  //margin: 20px auto auto auto;
  //padding-right: 10px;

}

.sidebar-request {
  .request-in-folder {
    padding-left: 15px;
  }
  margin-right: 5px;
  .sidebar-method-GET {
    color: greenyellow;
  }
  .sidebar-method-POST {
    color: #ffc233;
  }

}

//.dropdown-custom {
//  align-content: center;
//  //display: block;
//  //margin-left: auto;
//  //margin-right: auto;
//}

ul.dropdown-custom {
  .dropdown-divider {
    height: 1px;
    border-bottom: 1px solid #7386D5;
  }
  //padding-bottom: 50px;
  margin-bottom: auto;
  margin-top: 40px;
  align-content: center;
  border-color: #7386D5;
  border-width: 2.5px;
  //display: block;
  //margin-left: auto;
  //margin-right: auto;
  a {
    align-content: center;
    color: #7386D5 !important;
    padding: 0 20px 0 20px !important;
  }

  li a:hover {
    color: white !important;
  }
  li :hover {
    background: #6d7fcc !important;
  }
  &:last-child .dropdown-custom {
    bottom: 0;
    top: auto;
  }
}

.scroll {
  //margin-left: 30px;
  //float: left;
  //height: 300px;
  //width: 65px;
  //background: #fff;
  //overflow-y: scroll;
  //margin-bottom: 25px;
  max-height: 100px;
  overflow-y: scroll;
}

.sidebar-link, a.sidebar-request {
  width: 75%;
}

a.sidebar-two {
  width: 90%;
}

a.sidebar-icon-edit {
  width: 15%;
}
