// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-group {
    display: inline-flex;
}

.request-method-GET {
  color: greenyellow;
}
.request-method-POST {
  color: #ffc233;
}

.request-method-DEL {
  color: red;
}
.request-method-PUT {
  color: blue;
}

.request-icon, .folder-icon {
  color: #6d7fcc;
}

.open-card-request {
  width: auto;
  float: right;
  padding-top: auto;
  //margin-left: 500px;
  //padding-bottom: 50px;
  //i {
  //  float: right;
  //}
}

.request-name, .request-name-item {
  color: #737373;
}

.item-request {
  padding: 0px 60px;
  p {
    padding-left: 21px;
    margin-bottom: 0px;
  }
}

hr.request {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

hr.folder-hr {
  margin-top: 0;
  margin-bottom: 0;
}

.request-card {
  display: flex;
}

.close-request {
  float: right;
  //font-size: (@font-size-base * 1.5);
  //font-weight: @close-font-weight;
  line-height: 1;
  //color: @close-color;
  //text-shadow: @close-text-shadow;
  //.opacity(.2);

  &:hover,
  &:focus {
    //color: @close-color;
    text-decoration: none;
    cursor: pointer;
    //.opacity(.5);
  }
}