$('#body_items').animate({
    opacity: 0
}, 500, function() {
    $('#body_items').empty();
    <%- if @resources&.any? %>
    $('#body_items').html('<%= j(render partial: 'body_items', cached: true) %>');
    <%- else %>
    $('#body_items').html('<h3><%= I18n.t('record_not_found') %></h3>');
    <%- end %>
});

$('#body_items').animate({
    opacity: 1
}, 500);